



<div class="row" id="sign_up_form">
	<div class="col-md-6 col-md-offset-3">
	<h1>Sign Up form</h1>

<%= form_for @user do |f| %>
	
	<%= f.file_field :avatar %>

<div>
	<%= f.text_field :alias, placeholder: "Alias" %>
</div>
<div>
	<%= f.text_field :email_digest, placeholder: "Email" %>
</div>
<div>
	<%= f.password_field :password, placeholder: "Password" %>
</div>
<div>
	<%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
</div>
<div class="gravatar_edit">
<%= f.submit "Sign Me Up Pirate" %>
</div>
<% end %>
</div>
</div>