<!DOCTYPE html>
<html>
<head>
  <title>Vagabond</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Include Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Nosifer' rel='stylesheet' type='text/css'>

  <!-- Google Maps -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyhrb1ifpdnipYUVq6KQJIToNaZJfCNpU&callback=initMap"
        async defer></script>

</head>
<body>
<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/cities">The Hideabout</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<% if @user.alias %>
			<li class=""><a href="/users/<%= @user.id %>">Profile</a></li>
			<li><a href="/users/<%= @user.id %>/posts">Posts</a></li>
			<% else %>
			<li class="active"><a href="/sign_in">Profile</a></li>
			<li><a href="/sign_in">Posts</a></li>
			<% end %>
			
		</ul>
		<form class="navbar-form navbar-left" role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
		<ul class="nav navbar-nav navbar-right">
			<% if @user.alias %>
			<li><a href="/logout">Log Out</a></li>
			<% else %>
			<!-- <li><a href="/users/new">Sign Up</a></li> -->
			<li><a href="/sign_in">Log In</a></li>
			<!-- <li><a href="/logout">Log Out</a></li> -->
			<% end %>
		</ul>
	</div><!-- /.navbar-collapse -->
</nav>
<div class="container">
<%= yield %>
</div>

</body>
</html>
